@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,700italic);

body {
  font-family: "Ubuntu Mono";
  background-color: #EEE;
  color: #333;
  font-size: 16pt;
  line-heigt: 1.4;
  font-weight: 400;
  margin: 2em;
}

.display {
  height: 25px;
  width: 50px;
  border-radius: 50px;
  border: 1px black solid;
  vertial-align: middle;
  text-align: center;
  color: black;
  display: inline-black;
  margin: 10px;
  margin-top: 30px;
  margin-right: 15px;
  background-color: gray;
  font-size: 20px;
}

.switch {
  height: 25px;
  width: 75px;
  border-radius: 50px;
  border: 1px black solid;
  vertial-align: middle;
  text-align: center;
  color: black;
  display: inline-black;
  margin: 10px;
  margin-top: 30px;
  margin-right: 15px;
  background-color: gray;
  font-size: 18px;
}

.header {
  height: 25px;
  width: 50px;
  border-radius: 50px;
  border: 1px black solid;
  vertial-align: middle;
  text-align: center;
  color: black;
  display: inline-black;
  margin: 10px;
  margin-top: 30px;
  margin-right: 15px;
  background-color: gray;
  font-size: 15px;
}

.digit {
  height: 25px;
  width: 35px;
  border-radius: 50px;
  border: 1px black solid;
  vertial-align: middle;
  text-align: center;
  color: black;
  display: inline-black;
  margin: 10px;
  margin-top: 30px;
  margin-right: 15px;
  background-color: gray;
  font-size: 18px;
}

#container {
  position: relative;
  width: 750px;
}

#add, #value, #result, #diff1, #diff2, #diff3, #diff4, #diff5, #diff6 {
  position: absolute;
}

#add {
  left: 0;
}

#value {
  left: 90px;
}

#result {
  left: 155px;
}

#diff1 {
  left: 215px;
}

#diff2 {
  left: 275px;
}

#diff3 {
  left: 335px;
}

#diff4 {
  left: 395px;
}

#diff5 {
  left: 455px;
}

#diff6 {
  left: 515px;
}

#clear {
  opacity: 1;
  height: 25px;
  width: 75px;
  border-radius: 50px;
  border: 1px black solid;
  vertial-align: middle;
  text-align: center;
  color: black;
  display: inline-black;
  margin: 10px;
  margin-top: 30px;
  margin-right: 15px;
  background-color: gray;
  font-size: 18px;
}
